.App {
  text-align: center;
}
.center {
  justify-content: 'center';
  align-items: 'center';
  padding: 220px;
  background-color:lightgray;
  
}
.a{
  font-size: 9px;
  color: darkslategrey;
  border: 5px solid white;
  border-radius: 50px;
  padding: 50px;
  box-shadow:5px 10px #888888;

}
.b{
  font-size: 20px;
  border-radius: 50px;
  border: 5px solid white;
  background-color: lightgray;
  color: darkslategrey;
  height: 100px;
  box-shadow:5px 10px #888888;
  
}

